@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: goodpaw;
  src: url(../assets/fonts/goodPaw.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/PoppinsRegular.ttf);
}

.goodpaw {
  font-family: goodpaw;
}

.font-poppins {
  font-family: poppins;
}

.selectdiv {
  position: relative;
}

select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: '<>';
  font: 20px;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 15px;
  top: 18px;

  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px 0px;
}
